<template>
  <div class="card">
    <ul class="list">
      <li v-for="user in users" :key="user.id" class="list-item">{{ user.name }}</li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useUsers } from '@/use/users';

export default defineComponent({
  name: 'UsersList',
  async setup() {
    const users = await useUsers();
    return { users };
  }
});
</script>
