<template>
  <div class="container">
    <form class="card" @submit.prevent="submit">
      <h1>Auth</h1>

      <h3 v-if="error" class="danger">{{ error }}</h3>

      <pre>{{ email }}</pre>
      <pre>{{ password }}</pre>

      <div :class="['form-control', { invalid: email.touched && !email.valid }]">
        <label for="email"></label>
        <input
            v-model="email.value"
            id="email"
            type="email"
            name="email"
            placeholder="Email"
            autocomplete="off"
            @blur="email.blur">
        <small v-if="email.touched && email.errors.required">Please enter Email</small>
      </div>

      <div :class="['form-control', { invalid: password.touched && !password.valid}]">
        <label for="password"></label>
        <input
            v-model="password.value"
            id="password"
            type="password"
            name="password"
            placeholder="Password"
            autocomplete="off"
            @blur="password.blur">
        <template v-if="password.touched">
          <small v-if="password.errors.required">Please enter Password</small>
          <small v-else-if="password.errors.minLength">Password min length is 8</small>
        </template>
      </div>

      <button class="btn primary" type="submit" :disabled="!isFormValid">Submit</button>
    </form>

    <Suspense v-if="submitted">
      <template #fallback>
        <div class="loader">loading...</div>
      </template>

      <UsersList />
    </Suspense>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref, onErrorCaptured } from 'vue';
import UsersList from '@/components/UsersList.vue';
import { useForm } from '@/use/form';

const required = (val: string): boolean => !!val;
const minLength = (num: number) => (val: string): boolean => val.length >= num;

export default defineComponent({
  name: 'App',
  components: { UsersList },
  setup() {
    const submitted = ref<boolean>(false);
    const error = ref<string>('');
    const form = useForm({
      email: {
        value: '',
        validators: { required }
      },
      password: {
        value: '',
        validators: { required, minLength: minLength(8) }
      }
    })

    const isFormValid = computed((): boolean => {
      const validationStates = [];
      for (const [key, val] of Object.entries(form)) {
        //@ts-ignore
        validationStates.push(form[key].valid);
      }
      return !validationStates.includes(false);
    })

    onErrorCaptured((e) => {
      error.value = e.message;
    });

    const submit = () => {
      console.log('FormData: ', { ...form } );
      submitted.value = true;
    }

    return { ...form, isFormValid, submitted, error, submit }
  }
});
</script>

<style lang="scss"></style>
